/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none; /* Hide by default */
}

.backdrop.show {
  display: block; /* Show the backdrop */
}
